@import url('https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-straight/css/uicons-regular-straight.css');
.search {
    width: 500px !important;
}
.header-item-style{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.soil-logo {
    color:rgb(218, 221, 196);
    text-decoration: none !important;
}

.header-nav{
    background-color: #009F7F !important;
}